DB_HOST=postgres
DB_PORT=5432
DB_NAME=senegal_connect
DB_USER=postgres
DB_PASS=change_moi

JWT_SECRET=change_moi_avec_une_chaine_aleatoire_de_64_caracteres_minimum_svp
JWT_EXPIRES_IN=24h

PORT=3000
LOG_LEVEL=info
CORS_ORIGINS=http://localhost:3000
MAX_FILE_SIZE=10485760
